Source: lxc
Section: admin
Priority: optional
Maintainer: pkg-lxc <pkg-lxc-devel@lists.alioth.debian.org>
Uploaders: Antonio Terceiro <terceiro@debian.org>,
           Evgeni Golov <evgeni@debian.org>,
           Pierre-Elliott Bécue <peb@debian.org>,
           Mathias Gibbens <gibmat@debian.org>
Build-Depends: bash-completion,
               debhelper-compat (= 13),
               dh-apparmor,
               docbook2x,
               doxygen,
               graphviz,
               libapparmor-dev,
               libcap-dev,
               libdbus-1-dev,
               libgnutls28-dev,
               libpam0g-dev,
               libseccomp-dev [!alpha !ia64 !m68k !sh4 !sparc64],
               libselinux-dev,
               linux-libc-dev,
               meson (>= 0.61),
               pkgconf,
               systemd-dev
Standards-Version: 4.7.0
Homepage: https://linuxcontainers.org/
Vcs-Git: https://salsa.debian.org/lxc-team/lxc.git
Vcs-Browser: https://salsa.debian.org/lxc-team/lxc
Rules-Requires-Root: binary-targets

Package: lxc
Architecture: linux-any
Pre-Depends: ${misc:Pre-Depends}
Depends: dnsmasq-base,
         iproute2,
         liblxc-common (= ${binary:Version}),
         nftables | iptables,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: apparmor (>= 3.0.10),
            debootstrap,
            dirmngr,
            distrobuilder,
            gnupg,
            libpam-cgfs,
            lxcfs,
            openssl,
            rsync,
            uidmap,
            wget
Suggests: btrfs-progs,
          criu,
          lvm2,
          lxc-templates,
          python3-lxc
Description: Linux Containers userspace tools
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package provides the lxc-* tools, which can be used to start a single
 daemon in a container, or to boot an entire "containerized" system, and to
 manage and debug your containers.

Package: lxc-dev
Section: libdevel
Architecture: linux-any
Depends: libcap-dev,
         libdbus-1-dev,
         liblxc1 (= ${binary:Version}),
         libseccomp-dev [!alpha !ia64 !m68k !sh4 !sparc64],
         libselinux-dev,
         lxc (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Linux Containers userspace tools (development)
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package contains the development files.

Package: lxc-tests
Architecture: linux-any
Depends: liblxc1 (= ${binary:Version}),
         lxc (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Linux Containers userspace tools (test binaries)
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package contains the test binaries. Those binaries are primarily
 used for autopkgtest and by some developers. They are not meant to be
 installed on regular user systems.

Package: liblxc1
Section: libs
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: cgroupfs-mount | systemd
Description: Linux Containers userspace tools (library)
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package contains the shared library.

Package: liblxc-common
Section: libs
Architecture: linux-any
Depends: liblxc1 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Breaks: lxc (<< 1:4.0.11-1~)
Replaces: lxc (<< 1:4.0.11-1~)
Description: Linux Containers userspace tools (library)
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package contains the common files for the shared library

Package: libpam-cgfs
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libpam-runtime,
         ${lxcfs:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: libpam-cgm
Description: PAM module for managing cgroups for LXC
 LXCFS provides a FUSE based filesystem to improve the LXC experience
 within the containers.
 .
 This provides a Pluggable Authentication Module (PAM) to provide
 logged-in users with a set of cgroups which they can administer.
 This allows for instance unprivileged containers, and session
 management using cgroup process tracking.
